<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\Users\Ben\Desktop\projects\TournamentTracker\TextFilesDb"/>
    <add key="greaterWins" value="1"/>
    <add key="senderEmail" value="Time@iamtimcorey.com"/>
    <add key="senderDisplayName" value="me"/>
  </appSettings>
  <connectionStrings>
    <add name="tournaments" connectionString="Server= DESKTOP-2SOSQ5B\SQLEXPRESS; Database=Tournaments; Trusted_Connection=True;" providerName="Systeam.Data.SqlClient;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="127.0.0.1" userName="ben" password="test" port="25" enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>